@page "/AdminStartPage"
<h3>AdminStartPage</h3>

<RadzenTabs TabPosition="TabPosition.Top" >
    <Tabs>
        <RadzenTabsItem Text="Spiel-Einstellungen">
            <AdminPanel></AdminPanel>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Tower-Einstellungen">
            <TowerConfig/>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Map-Einstellungen">
            <MapTests></MapTests>
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>