@using OWLServer.Services
@inject IJSRuntime _jsRuntime;
@inject ExternalTriggerService ExternalTriggerService

<style>
    #map{
        width: 100%;
        height: calc(100% - 90px);
        object-fit:fill;
        margin-top: -40px;
    }

    .myLoc {
        background-color: red;
        width: 10px;
        height: 10px;
        position: absolute;
        z-index: 999;
    }
</style>

<div style="position: relative">
    <img id="map" src="../../map.png" @onclick="OnClickEvent"/>
    @foreach(var loco in LocoListe)
    {
        <div class="myLoc" style="@loco.ToLocationString()"/>
    }
</div>
<script>
        function GetParentSpace(elementId){
            var element = $(elementId);
            var parent = element.parent();

            console.log("hai");

            var position = parent.position();
            var width = parent.outerWidth();
            var height = parent.Height();

                return {
                Width: width,
                Height: height,
                Top: position["top"],
                Left: position["left"],
            }
        }

        function GetElementLocation(elementId){
        var element = $(elementId);
        var position = element.position();
        var width = element.outerWidth();
        var height = element.outerHeight();
        
        return {
            Width: width,
            Height: height,
            Top: position.top,
            Left: position.left,
        }
    }
</script>

@code {
    [Parameter]
    public List<Tower> TowerListe { get; set; } = [];

    [Parameter]
    public List<ElementLocation> LocoListe { get; set; } = [];

    [Parameter]
    public Action<ElementLocation> Clicked { get; set; }

    private async void OnClickEvent(MouseEventArgs args)
    {
        var result = await _jsRuntime.InvokeAsync<ElementLocation>("GetElementLocation", "#map");
        if(result != null)
        {
            result.Top = args.PageY;
            result.Left = args.PageX;

            var topPercent = result.Top / result.Height * 100;
            result.Top = topPercent;

            var leftPercent = result.Left / result.Width * 100;
            result.Left = leftPercent;

            LocoListe.Add(result);
            Clicked?.Invoke(result);            
        }
    }

    protected override void OnInitialized()
    {
        ExternalTriggerService.StateHasChangedAction += () => InvokeAsync(StateHasChanged);
        base.OnInitialized();
    }

    public class ElementLocation
    {
        public double Width { get; set; }
        public double Height { get; set; }
        public double Top { get; set; }
        public double Left { get; set; }

        public string ToLocationString()
        {
            return $"top:{Top.ToString().Replace(',', '.')}%;left:{Left.ToString().Replace(',', '.')}%";
        }
    }
}
