@inject IJSRuntime _jsRuntime;
@inject ExternalTriggerService ExternalTriggerService
@inject GameStateService _GameStateService
@inject MapService _MapService

<style>
    #map{
        width: 100%;
        height: calc(100% - 90px);
        object-fit:fill;
    }
</style>

<div style="position: relative">
    <img id="map" src="@_MapService.GetCurrentMapUrl()" @onclick="OnClickEvent"/>

    @foreach (var tower in _GameStateService.TowerManagerService.Towers.Values.Where(t => t.Location != null))
    {
        <TowerComponent Tower="tower"></TowerComponent>
    }
</div>
<script>
        function GetElementLocation(elementId){
        var element = $(elementId);
        var position = element.position();
        var offset = element.offset();
        var width = element.outerWidth();
        var height = element.outerHeight();
        
        return {
            Width: width,
            Height: height,
            offsetTop: offset.top,
            offsetLeft: offset.left,
            Top: position.top,
            Left: position.left,
        }
    }
</script>

@code {
    [Parameter]
    public List<Tower> TowerListe { get; set; } = [];

    [Parameter]
    public List<ElementLocation> LocoListe { get; set; } = [];

    [Parameter]
    public Action<ElementLocation> Clicked { get; set; }

    private async void OnClickEvent(MouseEventArgs args)
    {
        var result = await _jsRuntime.InvokeAsync<ElementLocation>("GetElementLocation", "#map");
        if(result != null)
        {
            // (Pos - BildOffset) / Höhe
            var topPercent = (args.PageY - result.offsetTop) / (result.Height);
            result.Top = topPercent;

            var leftPercent = (args.PageX - result.offsetLeft) / result.Width;
            result.Left = leftPercent;

            Clicked?.Invoke(result);            
        }
    }

    protected override void OnInitialized()
    {
        ExternalTriggerService.StateHasChangedAction += () => InvokeAsync(StateHasChanged);
        base.OnInitialized();
    }
}
