@using OWLServer.Services
@inject IJSRuntime _jsRuntime;
@inject ExternalTriggerService ExternalTriggerService

<style>
    #map{
        width: 100%;
        height: calc(100% - 90px);
        object-fit:fill;
    }

    .myLoc {
        background-color: red;
        width: 10px;
        height: 10px;
        position: absolute;
        z-index: 999;
    }
</style>

<div style="position: relative">
    <img id="map" src="../../map.png" @onclick="OnClickEvent"/>
    @foreach(var loco in LocoListe)
    {
        <div class="myLoc" style="@loco.ToLocationString()"/>
    }
</div>
<script>
        function GetElementLocation(elementId){
        var element = $(elementId);
        var position = element.position();
        var width = element.outerWidth();
        var height = element.outerHeight();
        
        
        return {
            Width: width,
            Height: height,
            Top: position.top,
            Left: position.left,
        }
    }
</script>

@code {
    [Parameter]
    public List<Tower> TowerListe { get; set; } = [];

    [Parameter]
    public List<ElementLocation> LocoListe { get; set; } = [];

    [Parameter]
    public Action<ElementLocation> Clicked { get; set; }

    private async void OnClickEvent(MouseEventArgs args)
    {
        var result = await _jsRuntime.InvokeAsync<ElementLocation>("GetElementLocation", "#map");
        if(result != null)
        {
            // (Pos - BildOffset) / Höhe
            var topPercent = (args.PageY - 117) / (result.Height);
            result.Top = topPercent;

            var leftPercent = (args.PageX - 16) / result.Width;
            result.Left = leftPercent;

            Clicked?.Invoke(result);            
        }
    }

    protected override void OnInitialized()
    {
        ExternalTriggerService.StateHasChangedAction += () => InvokeAsync(StateHasChanged);
        base.OnInitialized();
    }
}
