@page "/AdminPanel"
@using Microsoft.CodeAnalysis.CSharp.Syntax

<h3>AdminPanel</h3>
<RadzenCard Variant="Variant.Flat">
        <RadzenStack>
                <RadzenDropDown TValue="GameMode" ValueChanged="GameModeChanged" Data="Enum.GetValues(typeof(GameMode))"
                                Value="GameMode.None"/>
                <RadzenButton ButtonStyle="@(GetButtonStyle)" Text="@(GetButtonText)" Click="ButtonClick"/>
        </RadzenStack>
</RadzenCard>

@switch (GameStateService.CurrentGame)
{
        case GameModeTeamDeathmatch:
                <GameModeDeathMatchConfig
                        CurrentGame="@((GameModeTeamDeathmatch)GameStateService.CurrentGame)"/>
                break;
        case GameModeConquest:
                <GameModeConquestConfig
                        CurrentGame="@((GameModeConquest)GameStateService.CurrentGame)"/>
                break;
        default:
                        break;
}