@page "/"
@using System.Text.Json;
@using OWLServer.Context
@using OWLServer.Services
@inject IGameStateService GameStateService
@inject IExternalTriggerService ExternalTriggerService
@inject DatabaseContext ctx
@implements IDisposable

<PageTitle>Home</PageTitle>

<MatchScoreBar TeamOnSide="@TeamOnSide"/>
<div style="margin-top:-40px">
<Map />
</div>

@if (ShowGameEndOverlay)
{
    <GameEndOverlay />
}

<AutoStartOverlay TeamOnSide="@TeamOnSide" />

@code{
    [Parameter] public TeamColor TeamOnSide { get; set; } = TeamColor.NONE;
    [Parameter] public bool ShowGameEndOverlay { get; set; } = true;

    private Action _stateChangedHandler = null!;

    protected override void OnInitialized()
    {
        _stateChangedHandler = () => InvokeAsync(StateHasChanged);
        ExternalTriggerService.StateHasChangedAction += _stateChangedHandler;
        base.OnInitialized();
    }

    public void Dispose()
    {
        ExternalTriggerService.StateHasChangedAction -= _stateChangedHandler;
    }
}
