@page "/"
@using System.Text.Json;
@using OWLServer.Context
@using OWLServer.Services
@inject GameStateService GameStateService
@inject ExternalTriggerService ExternalTriggerService
@inject DatabaseContext ctx


<PageTitle>Home</PageTitle>

<MatchScoreBar TeamOnSide="@TeamOnSide"/>
<div style="margin-top:-40px">
<Map />
</div>
 
@code{
    [Parameter] public TeamColor TeamOnSide { get; set; } = TeamColor.NONE;
    
    protected override void OnInitialized()
    {
        ExternalTriggerService.StateHasChangedAction += () => InvokeAsync(StateHasChanged);
        base.OnInitialized();
    }
}